* {
	padding: 0px;
	margin: 0px;

}

@font-face {
    font-family: BearButteTPlain;
    src: url(fonts/BearButteTPlain.ttf);
    font-family: BearButteTBoldItalic;
    src: url(fonts/BearButteTBoldItalic.ttf);
}

html {
	background-color: white;
}

.wrapper {
	margin: 5%;
}

#menu {
	color: red;
	position: fixed;
	display: inline-block;
	font-family:  BearButteTBoldItalic;
	font-size: 12px;
	margin-top: 10%;
	margin-left: 7%;
	width: 10%;

}

#menu ol li a {
	color: red;

}

#menu ol li a:hover {
	color: black;

}


h1 {
	color: red;
	/*border-style: solid;
	border-width: 0px 0px 5px 0px;*/
	box-shadow: 0px 0px 100px #ff0000;
	top: 0;
	position: fixed;
	font-family: BearButteTBoldItalic;
	padding: 2% 10%;
	font-size: 75px;
	background-color: white;
	width: 100%;
}

#julia {
	position: absolute;
	margin-left: 77%;
	margin-top: 29%;
	width: 60px;
	z-index: -1;
	
}

#kevin {
	position: absolute;
	margin-left: 77%;
	margin-top: 74%;
	width: 60px;
	z-index: -1;
	
}


	
}

#weven{
	position: absolute;
	margin-left: 45px;
	margin-top: 600px;
	
}

h2 {

	padding-top: 10%;
	color: red;
	font-size: 36px;
	position: absolute;
	font-family: BearButteTPlain;
	width: 60%;
	margin-top: 0%;
	margin-left: 16%;
	z-index: -1;
	
	
	
}

#tekst p {
	color: red;
	position: relative;
	font-size: 18px;
	font-family: BearButteTPlain;
	width: 60%;
	display: inline-block;
	float: left;
	margin-left: 20%;
	margin-top: 7%;
	margin-bottom: 100px;
	z-index: -1;


}

#footnotes p {
		position: absolute;
	width: 12%;
	font-family: arial;
	font-size: 10px;
	margin-left: 5%;
	margin-top: 25%;

}